html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

nav {
  margin: 0;
  padding: 0;
  padding-top: 40px;
}

nav ul {
  margin: 0;
  padding: 0;
  text-align: right;
  margin-right: 40px;
}

nav li {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 35px;
}

nav a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
  font-size: .85em;
  letter-spacing: .15em;
  position: relative;
}

nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -6px;
  left: 0;
  background-color: #ff103d;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

nav a:hover::before {
  color: white;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media (max-width: 800px) {
  nav ul {
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  nav {
    padding-top: 28px;
  }
  nav ul {
    text-align: center;
  }
  nav li {
    margin-left: 17px;
    margin-right: 17px;
  }
}

button {
  position: relative;
  top: 0;
  outline: none;
  cursor: pointer;
  margin: 0;
  border: none;
  background-color: #ff103d;
  color: rgba(255, 255, 255, 0.85);
  width: 260px;
  padding: 20px 0 20px 0;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border-radius: 30px;
  transition: all 0.2s;
}

button:hover {
  top: -4px;
  color: white;
}

footer {

}
