/*-------------------------------------
Blog Styling
--------------------------------------*/

.content-area p, .content-area ul, .content-area blockquote, .content-area ol {
  font-weight: 300;
  color: #9e9e9e;
}

.content-area h3 {
  color: white;
  font-size: 2em;
  margin: 50px 0 10px 0;
  font-weight: bold;
  font-weight: 500;
}

.content-area h5 {
  color: white;
  font-size: 1.5em;
  margin: 40px 0 5px 0;
  font-weight: bold;
  font-weight: 400;
}

.content-area p {
  margin: 12px 0 25px 0;
  line-height: 170%;
  font-size: 18px;
}

.content-area b {
  font-size: 18px;
  font-weight: 500;
}

.content-area i {
  font-size: 18px;
}

.content-area u {
  font-size: 18px;
}

.content-area strike {
  font-size: 18px;
}

.content-area a {
  color: #ff103d;
  transition: all .3s;
  text-decoration: none;
  border-bottom: solid #ff103d 1px;
  font-size: 18px;
}

.content-area a:hover {
  color: #ff103d;
}

.content-area ul {
  line-height: 190%;
}

.content-area li {
  font-size: 18px;
}

.content-area ol {
  line-height: 190%;
}

.content-area blockquote {
  font-size: 18px;
  line-height: 170%;
  border-left: solid rgba(255, 255, 255, 0.6) 2px;
  padding-left: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 22px;
}

.content-area img {
  width: 90%;
  margin: 12px 5% 12px 5%;
  height: auto;
}

.content-area .caption {
  color: rgba(255, 255, 255, 0.5);
  font-size: .95em;
  text-align: center;
  margin: -10px 0 12px 0;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.left {
  margin-left: -20%;
  width: calc(700px + 20%);
  position: relative;
  margin-top: 25px;
  margin-bottom: 35px;
}

.left img {
  display: inline-block;
  width: 550px;
  margin: 0;
  margin-right: 30px;
  border-radius: 6px;
}

.left p {
  display: inline-block;
  width: 240px;
  margin: 0;
  vertical-align: top;
  margin-top: 20px;
  padding-right: 10px;
}

.right {
  position: relative;
  margin-right: -20%;
  width: calc(700px + 20%);
  margin-top: 25px;
  margin-bottom: 35px;
}

.right img {
  display: inline-block;
  width: 550px;
  margin: 0;
  margin-left: 30px;
  border-radius: 6px;
}

.right p {
  display: inline-block;
  width: 250px;
  margin: 0;
  vertical-align: top;
  margin-top: 20px;
}

@media (max-width: 1020px) {
  .left {
    margin: 0;
    margin-left: 0;
    width: 100%;
  }

  .left img {
    width: 90%;
    margin: 12px 5% 12px 5%;
    height: auto;
    display: block;
    margin-bottom: 35px !important;
  }

  .left p {
    display: block;
    text-align: center;
    margin: 0px 0 12px 0;
    width: 100%;
    text-align: left;
    padding-right: 0;
  }

  .right {
    margin: 0;
    margin-right: 0;
    width: 100%;
  }

  .right img {
    width: 90%;
    margin: 12px 5% 12px 5%;
    height: auto;
    display: block;
    margin-bottom: 35px !important;
  }

  .right p {
    display: block;
    text-align: center;
    margin: 20px 0 5px 0;
    width: 100%;
    text-align: left;
  }
}

@media (max-width: 550px) {
  .content-area h3 {
    font-size: 1.8em;
  }

  .content-area h5 {
    font-size: 1.4em;
  }
}

@media (max-width: 420px) {
  .content-area img {
    width: 100%;
    margin: 12px 0 12px 0;
    height: auto;
  }
}
